@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,400&display=swap');

body, p, h1, ul, li, blockquote, span{
    padding: 0;
    margin: 0;
    
 }
body{
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Prompt', Arial, Helvetica, sans-serif;
    transition: all 0.6s ease;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
i{
    font-size: 1.3rem;
}
.structure{
    display: grid;
}
.top-container{
    position: sticky;
    top: 0;
    padding: 0 50px;
    background: linear-gradient(135deg, rgb(0, 70, 0), rgb(0, 159, 0), rgb(0, 70, 0) );
    z-index: 10;
}
.top-info{
    margin: 0 auto;
    max-width: 1280px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}
.shift{
    visibility: visible;
}
.rolling-text{
    opacity: 0;
    position: absolute;
    transition-duration: .8s;
    z-index: 99;
}
.toque{
    display: grid;
    place-items: center;
    color: #ccc;
    transition: all 0.6s ease;
}
.toque:hover  .rolling-text{
    min-height: 50px;
    padding: 0 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    opacity: 1;
    color: #fff;
    font-weight: 500;
    /* text-shadow: 0 2px 0 rgba(0, 0, 0, 0.6),
                 0 2px 0 hsl(174,5%,65%),
                 0 3px 0 hsl(174,5%,40%),
                 0 4px 0 hsl(174,5%,20%),
                            
                 0 0 5px rgba(0,0,0, .03),
                 0 1px 3px rgba(0,0,0,.06),
                 0 3px 5px rgba(0,0,0,.09);   */
    cursor: pointer;
    transform: scale(1.1);
    z-index: 99;
    
  }
.toque:hover .shift{
    visibility: hidden;
    transition: all .4s ease;
}
.toque:not(hover) .rolling-text{
    transition: all 1s ease;
}

.top-item{
    max-width: 280px;
    display: grid;
    grid-template-columns: 1fr auto auto auto auto;
    justify-content: space-between;
    place-items: center;
    grid-gap: 10px;
    color: #ccc;
    transition: all 0.6s ease;
}
.top-account{
    max-width: 280px;
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    place-items: center;
    /* grid-gap: 10px; */
    transition: all 0.6s ease;
}
.top-account a{
    display: block;
    color: #ccc;
    padding: 10px;
    transition: all 0.6s ease;
}
.top-account:hover a{
    color: #fff;
}
.info-store{
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    position: absolute;
    top: 35px;
    padding: 10px 15px;
    transform: translateX(-40px);
    border-radius: 10px;
    background: linear-gradient(135deg, rgb(0, 143, 0), rgb(0, 70, 0) );
    box-shadow: 
        2px 2px 2px 2px rgba(0, 0, 0, 0.3),
        5px 5px 5px 5px rgba(0, 0, 0, 0.2),
        -1px -1px 3px rgba(128, 128, 128, 0.4);
    opacity: 0;
    transition: all 0.9s ease;
    color: #fff;
}
.info-store i{
    font-size: 1.4rem;
    padding: 0 10px;
}
.brother:hover{
    color: #fff;
    cursor: pointer;
}
.brother:hover ~ .info-store{
    opacity: 1;
}

.top-item .fa-whatsapp, .fa-map-marker-alt, .fa-lock, .fa-phone-square{
    transition: all 0.6s ease;
}
.top-item .fa-whatsapp:hover, .fa-map-marker-alt:hover, .fa-lock:hover, .fa-phone-square:hover{
    color: #fff;
}
.top-item > a{
    color: #ccc;
    padding-left: 8px;
}
.header{
    display: block;
    background: #000;
    padding: 30px 0;
}
.header-container{
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
}
.search{
    
}
.search-main {
    background-color:  rgb(253, 253, 253);
    border-radius:10px;
    border-color: #000;
    width: 400px;
    display: flex;
    align-items: center;
    /* border: 1px solid white; */
    box-shadow:3px 3px 5px 0px rgba(0, 0, 0, 0.7) inset;

}
.search-main .button-search-main{
    background: none!important;
    border: none!important;
    padding: 0!important;
    cursor: pointer;
}
.button-search-main i{
    padding-right: 5px;
}
#txt-search{
  float:left;
  background-color:transparent;
  color: #000;
  padding-left:5px;
  font-style:italic;
  font-size: .9rem;
  border:none;
  height:42px;
  width: 375px;
}
input:focus{
    box-shadow: 0 0 0 0;
    outline: none;
}
.chart{
    display: flex;
    align-items: center;
    height: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    justify-self: end;
    transition: all .6s ease;
}
.chart:hover{
    color: white;
    background: linear-gradient(180deg, rgb(0, 143, 0), rgb(0, 70, 0) );  
    border: 1px solid rgb(133, 133, 133);
}
.car-amunt{
    color: #0f0;
    font-weight: 700;
    font-size: 1.3rem;
}
.chart > a{
    color: #888;
    transition: all .6s ease;
}
.chart:hover > a{
    color: #fff;
}
.chart:hover .fa-shopping-cart{
    color: #fff;
}
.chart i{
    padding-left: 15px;
}
.product-count{
    background: none repeat scroll 0 0 #098505;
    position: absolute;
    display: inline-block;
    color: #fff;
    font-size: 15px;
    padding: 2px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    transform:translateY(-70%)
}
/* Navbar */
nav{
    position: sticky;
    top: 40px;
    background: linear-gradient(180deg, rgb(0, 0, 0),rgb(0, 0, 0), rgb(0, 0, 0), #111);
    box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.6);
    z-index: 9;
}
.menu{
    margin: 0 auto;
    max-width: 1280px;
}

.menu ul{
    display: flex;
    flex-wrap: wrap;
}
.menu a{
    display: block;
    padding: 15px 20px;
    text-transform: uppercase;
    color: #999;
    border-radius: 10px 10px 0 0 ;
    transition: all .6s ease;
}
.active{
    color: white !important;
    background: linear-gradient(180deg, rgb(0, 143, 0), rgb(0, 70, 0) ); 
}
.menu a:hover{
    color: white;
    background: linear-gradient(180deg, rgb(0, 143, 0), rgb(0, 70, 0) );  
}
.fa-sliders-h{
    font-size: 1rem;
    transform: rotate(90deg);
}

/* Slider */
.slider-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;  
}
#slider {
    margin: 0 auto;
    height: 365px;
    width: 1280px;
    overflow: hidden;
    position: relative;
}
#slider .div-img{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: 100%;
    transition: all 1s;
}
#slider div.selected{
    opacity: 1;
    transform: translateX(-100%);
}

.slide-info{
    position: absolute;
    padding: 0 50px;
    top: 50px;
    right: 0;
    color: #333;
    /* border: 1px solid black; */
}
.slide-detail{
    color: #098505;
}
.slide-sub-detail{
    position: absolute;
    top: 35px;
}
.slide-shop{
    border: none;
    color: white;
    background: linear-gradient(180deg, rgb(0, 143, 0), rgb(0, 70, 0) );  
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 50px;
}
/* Content */
.content{
    height: 800px;
}

